
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#" routerLink="/home">ICIN Bank</a>
  
   
    <ul class="navbar-nav">
      <!--Transfer Page-->
      <li class="nav-item">
        <a class="nav-link" routerLink="/transactionHistory">Transaction History<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/transferHistory">Transfer History<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/transfer">Transfer Money<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/chequebookRequest">Request Checkbook<span class="sr-only"></span></a>
      </li>
      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          User Session
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/editProfile" >Change Profile Settings</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
    </ul>
  </nav>
    

    <router-outlet></router-outlet>



