<!-- <p>user-homepage works!</p> -->
<!-- Latest compiled and minified CSS -->


<br>
<div style="display: block; text-align: center;">
  
<h2>Welcome to ICIN Bank </h2>
<br>
<h4>Happy Banking !!!</h4>
</div>


<table class="center" style="text-align: left;">

    <tr>
        <td><h4>Your Savings Account number: </h4></td>
        <td><h4>3565656</h4></td>
    </tr>
    <tr>
      <td><h4>Your Savings Account balance : </h4></td>
      <td><h4></h4></td>
  </tr>

</table>

<table class="center" style="text-align: left;">
  <tr>
    <td><h4>Your Current Account number: </h4></td>
    <td><h4>3565656</h4></td>
</tr>
  <tr>

    <td><h4>Your Current Account balance : </h4></td>
    <td></td>
</tr>
</table>
    
  











<!-- <h3>Select the operation to be performed:</h3>
Deposit:<input type="checkbox" ng-model="depositClicked">
Withdraw:<input type="checkbox" ng-model="withdrawClicked"> -->

  <!-- <label>The account where you need to deposit: </label> 
<br>
    <select id="dropDownAccountType" required>
    <option value="Primary">Primary</option>
    <option value="Secondary">Secondary</option>
    </select> -->

<!-- <table class="center" style="text-indent: 1cm; margin-right: auto; margin-left: auto;">
  <tr>
    <td><button class="btn btn-info"><a routerLink="deposit">Deposit</a></button></td>
    <td><button class="btn btn-info"><a routerLink="withdraw">Withdraw</a></button></td>
  </tr>
</table> -->


  <!-- <label>The account from where you need to withdraw: </label> 
<br>
    <select id="dropDownAccountType" required>
    <option value="Primary">Primary</option>
    <option value="Secondary">Secondary</option>
    </select> 
  //(click)={onWithdraw}
  -->

    



<!-- 
<a href="\src\deposit.html">Deposit Money</a>   
<br>
<br>
<a href="\src\withdraw.html">Withdraw Money</a> -->


<!--Admin Login
<button (onclick)="adminLogin()">Admin Test</button>-->
<div>
  <router-outlet></router-outlet>
</div>

